<configuration>
    <!-- 指定nameservice的名称为mycluster -->
    <property>
      <name>fs.defaultFS</name>
      <value>hdfs://mycluster</value>
    </property>
    <!-- 编辑日志文件存储的路径 -->
    <property>
      <name>dfs.journalnode.edits.dir</name>
      <value>/vagrant/tools/hadoop/data/jn</value>
    </property>
    <!-- 配置缓存文件的目录 -->
    <property>
        <name>hadoop.tmp.dir</name>
        <value>/vagrant/tools/hadoop/data/tmp</value>
        <description>Abase for other temporary directories.</description>
    </property>
</configuration>