<configuration>
    <!-- 指定 namenode 的 hdfs 协议文件系统的通信地址 -->
    <property>
      <name>fs.defaultFS</name>
      <value>hdfs://mycluster</value>
    </property>
    <property>
      <name>dfs.journalnode.edits.dir</name>
      <value>/vagrant/tools/hadoop/data/journalnode</value>
    </property>
    <!-- 配置缓存文件的目录 -->
    <property>
        <name>hadoop.tmp.dir</name>
        <value>/vagrant/tools/hadoop/data/tmp</value>
    </property>
</configuration>