<yandex>
    <users>
        <default>
            <password remove="remove"></password>
            <password_double_sha1_hex>66fcb7b26879a30b23b155bff45c1b0d8ab57e4b</password_double_sha1_hex>
        </default>
    </users>
</yandex>
