<yandex>
    <users>
        <default>
            <password remove="remove"></password>
            <password_sha256_hex>91bce29e16c1046e7e21229439944c3a95539edc05b446ceef2b969658eb9863</password_sha256_hex>
        </default>
    </users>
</yandex>
